<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TelerikMovieDatabase.Data.Xml.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TelerikMovieDatabase.Data.Xml.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value>..\..\..\..\Databases\Xml\</value>
            </setting>
        </TelerikMovieDatabase.Data.Xml.Settings>
    </userSettings>
</configuration>